In [1]:
from pathlib import Path
import sys
import numpy as np

# Ensure the project root is on sys.path so `from src...` imports work
PROJECT_ROOT = Path.cwd().parent  # notebook is in ./notebooks
if str(PROJECT_ROOT) not in sys.path:
    sys.path.insert(0, str(PROJECT_ROOT))

from src.dataloader.DataLoader import DataLoader

csv_path = PROJECT_ROOT / 'btc_usdt_1h.csv'
wrapper = DataLoader.load_wrap(str(csv_path), data_type='tick')

type(wrapper)

src.datawrapper.TickWrapper.TickWrapper

In [3]:
# Inspect the loaded data
df = wrapper.get_dataframe()
df.head(30)

,open_time_iso,open,high,low,close,volume
0,2024-12-15 00:00:00+00:00,101420.00,101558.83,101237.14,101442.42,313.788630
1,2024-12-15 01:00:00+00:00,101442.41,102196.97,101424.01,102134.48,1458.804770
2,2024-12-15 02:00:00+00:00,102134.48,102155.28,101775.88,101831.15,728.332980
3,2024-12-15 03:00:00+00:00,101831.16,101931.73,101722.31,101733.82,216.323520
4,2024-12-15 04:00:00+00:00,101733.83,102850.00,101733.82,102366.17,1788.489480
5,2024-12-15 05:00:00+00:00,102366.17,102511.81,102107.92,102159.29,485.394910
6,2024-12-15 06:00:00+00:00,102159.29,102169.90,101759.80,101759.80,417.411420
7,2024-12-15 07:00:00+00:00,101759.81,101941.18,101534.01,101732.09,399.710770
8,2024-12-15 08:00:00+00:00,101732.09,102015.16,101581.07,102015.15,434.856360
9,2024-12-15 09:00:00+00:00,102015.15,102270.95,101919.60,102264.34,361.997870
10,2024-12-15 10:00:00+00:00,102264.34,102450.22,102147.58,102280.00,390.629890
11,2024-12-15 11:00:00+00:00,102280.01,102691.01,102228.01,102671.44,613.110030
12,2024-12-15 12:00:00+00:00,102671.44,103359.97,102533.33,102946.54,2308.198510
13,2024-12-15 13:00:00+00:00,102946.55,102987.43,102473.01,102784.65,917.266460
14,2024-12-15 14:00:00+00:00,102784.65,103061.88,102622.99,102994.37,988.690880
15,2024-12-15 15:00:00+00:00,102994.37,103039.99,102704.00,102704.01,704.041110
16,2024-12-15 16:00:00+00:00,102704.00,103490.00,102583.65,103127.08,1092.301980
17,2024-12-15 17:00:00+00:00,103127.08,103368.19,102978.93,103164.00,493.459240
18,2024-12-15 18:00:00+00:00,103164.01,103358.89,102984.58,103204.00,381.558200
19,2024-12-15 19:00:00+00:00,103203.99,103455.00,103178.47,103252.95,474.600800
20,2024-12-15 20:00:00+00:00,103252.96,103404.16,103066.67,103144.83,421.521660
21,2024-12-15 21:00:00+00:00,103144.83,103197.67,102634.25,102859.06,733.517310
22,2024-12-15 22:00:00+00:00,102859.05,103385.80,102621.50,103277.32,752.534860
23,2024-12-15 23:00:00+00:00,103277.31,105250.00,103246.07,104463.99,5352.380135
24,2024-12-16 00:00:00+00:00,104463.99,106648.00,104324.50,105444.95,4439.214326
25,2024-12-16 01:00:00+00:00,105444.95,105591.58,104979.39,105531.99,1469.853020
26,2024-12-16 02:00:00+00:00,105532.00,105640.00,104446.28,104585.32,1719.941620
27,2024-12-16 03:00:00+00:00,104585.32,105000.00,104259.48,104582.28,1174.839280
28,2024-12-16 04:00:00+00:00,104582.28,104805.22,104469.89,104686.15,650.797660
29,2024-12-16 05:00:00+00:00,104686.15,105064.00,104482.46,105028.00,781.519230

In [3]:
# Features configured by DataLoader for tick data
wrapper.get_features().head()

       volume       open       high        low      close
0   313.78863  101420.00  101558.83  101237.14  101442.42
1  1458.80477  101442.41  102196.97  101424.01  102134.48
2   728.33298  102134.48  102155.28  101775.88  101831.15
3   216.32352  101831.16  101931.73  101722.31  101733.82
4  1788.48948  101733.83  102850.00  101733.82  102366.17

In [4]:
wrapper.get_dataframe().head()

       open_time       open       high        low      close      volume
0  1734220800000  101420.00  101558.83  101237.14  101442.42   313.78863
1  1734224400000  101442.41  102196.97  101424.01  102134.48  1458.80477
2  1734228000000  102134.48  102155.28  101775.88  101831.15   728.33298
3  1734231600000  101831.16  101931.73  101722.31  101733.82   216.32352
4  1734235200000  101733.83  102850.00  101733.82  102366.17  1788.48948

In [5]:
wrapper.compute_log_return()
wrapper.get_dataframe().head()

,open_time,open,high,low,close,volume,log_return
0,1734220800000,101420.00,101558.83,101237.14,101442.42,313.78863,0.693258
1,1734224400000,101442.41,102196.97,101424.01,102134.48,1458.80477,0.696553
2,1734228000000,102134.48,102155.28,101775.88,101831.15,728.33298,0.691661
3,1734231600000,101831.16,101931.73,101722.31,101733.82,216.32352,0.692669
4,1734235200000,101733.83,102850.00,101733.82,102366.17,1788.48948,0.696250

In [6]:
wrapper.get_dataframe().dtypes

open_time       int64
open          float64
high          float64
low           float64
close         float64
volume        float64
log_return    float64
dtype: object

In [7]:
from src.transformer.TechIndicGenerator import TechIndicGenerator
tech_indic_generator = TechIndicGenerator()

In [8]:
tech_indic_generator.compute_RSI(wrapper, period=14)
wrapper.get_dataframe().head()

,open_time,open,high,low,close,volume,log_return,rsi
0,1734271200000,102784.65,103061.88,102622.99,102994.37,988.69088,0.694167,69.668788
1,1734274800000,102994.37,103039.99,102704.00,102704.01,704.04111,0.691737,64.552397
2,1734278400000,102704.00,103490.00,102583.65,103127.08,1092.30198,0.695205,68.215136
3,1734282000000,103127.08,103368.19,102978.93,103164.00,493.45924,0.693326,68.520823
4,1734285600000,103164.01,103358.89,102984.58,103204.00,381.55820,0.693341,68.870137

In [9]:
tech_indic_generator.compute_SWMA(wrapper)
wrapper.get_dataframe().head()

,open_time,open,high,low,close,volume,log_return,rsi,swma
0,1734282000000,103127.08,103368.19,102978.93,103164.00,493.45924,0.693326,68.520823,102970.091667
1,1734285600000,103164.01,103358.89,102984.58,103204.00,381.55820,0.693341,68.870137,103081.695000
2,1734289200000,103203.99,103455.00,103178.47,103252.95,474.60080,0.693384,69.318823,103186.005000
3,1734292800000,103252.96,103404.16,103066.67,103144.83,421.52166,0.692623,67.021012,103203.788333
4,1734296400000,103144.83,103197.67,102634.25,102859.06,733.51731,0.691761,61.242558,103143.103333

In [10]:
tech_indic_generator.compute_EMA(wrapper)
wrapper.get_dataframe().head()

,open_time,open,high,low,close,volume,log_return,rsi,swma,ema
0,1734321600000,104582.28,104805.22,104469.89,104686.15,650.79766,0.693644,66.882798,104758.890000,104016.403333
1,1734325200000,104686.15,105064.00,104482.46,105028.00,781.51923,0.694779,69.249969,104691.696667,104172.033590
2,1734328800000,105028.01,105373.76,104956.00,105149.98,971.06116,0.693728,70.072006,104860.093333,104322.486884
3,1734332400000,105149.98,105420.76,104900.00,104992.79,679.89461,0.692399,67.565372,105005.816667,104425.610440
4,1734336000000,104992.79,105016.85,104505.22,104535.44,713.40126,0.690967,60.755479,104974.830000,104442.507295

In [11]:
tech_indic_generator.compute_TEMA(wrapper)

In [12]:
tech_indic_generator.compute_KAMA(wrapper)

In [13]:
wrapper.get_dataframe().head()

,open_time,open,high,low,close,volume,log_return,rsi,swma,ema,tema,kama
0,1734548400000,104805.44,104805.44,102817.82,102817.82,4875.44811,0.683620,34.507879,104324.630000,104311.942574,103902.048481,104691.604072
1,1734552000000,102817.82,102997.77,100303.72,100846.67,10402.44410,0.683515,26.439725,103459.411667,103778.823716,102654.405052,104244.609808
2,1734555600000,100846.68,101745.45,100481.81,101010.55,3022.31056,0.693959,27.948043,102191.420000,103352.935452,101841.655707,103970.468517
3,1734559200000,101010.54,101560.89,100648.99,101152.45,1684.68673,0.693849,29.299838,101280.785000,103014.399229,101342.920294,103685.562852
4,1734562800000,101152.45,101203.45,100000.00,100204.01,2820.13370,0.688448,25.813821,100896.113333,102582.031655,100644.768994,103219.480375

In [14]:
tech_indic_generator.compute_BBANDS(wrapper)
wrapper.get_dataframe().head()

,open_time,open,high,low,close,volume,log_return,rsi,swma,ema,tema,kama,bb_upper,bb_middle,bb_lower
0,1734616800000,101952.44,102800.11,100694.07,100942.41,3192.18817,0.688181,39.618440,101878.880000,101701.174594,101826.476323,102061.397788,102833.497596,101319.3060,99805.114404
1,1734620400000,100942.41,101063.38,99500.00,100679.86,4543.00113,0.691846,38.037143,101409.593333,101544.049271,101426.516518,102010.294838,102583.442958,101212.4080,99841.373042
2,1734624000000,100679.86,101200.00,99830.00,100716.30,2127.60244,0.693328,38.404608,100985.546667,101416.703230,101154.153506,101951.329862,102585.033678,101205.8895,99826.745322
3,1734627600000,100716.30,100748.87,97500.00,98855.86,5111.98146,0.683868,28.961302,100431.765000,101022.727348,100229.474994,101698.213426,102816.441356,101098.1550,99379.868644
4,1734631200000,98855.86,98952.73,96900.00,98932.73,5024.54216,0.693536,29.730142,99792.818333,100701.189295,99608.612139,101481.842264,102946.878144,100987.1690,99027.459856

In [15]:
tech_indic_generator.compute_ATR(wrapper)
wrapper.get_dataframe().head()

,open_time,open,high,low,close,volume,log_return,rsi,swma,ema,tema,kama,bb_upper,bb_middle,bb_lower,atr
0,1734667200000,97106.02,97838.98,96839.40,97304.07,1275.17255,0.694166,38.292522,97183.546667,97895.111026,96749.509496,99324.953492,103449.346769,99161.6900,94874.033231,1659.291429
1,1734670800000,97304.07,97491.95,96672.47,96734.32,1339.46566,0.690215,35.922003,97197.848333,97716.527792,96618.876532,99243.784245,103137.870108,98907.6065,94677.342892,1599.304898
2,1734674400000,96734.33,97303.99,96374.03,97281.37,1663.60632,0.695971,39.776960,97077.361667,97649.580439,96763.382609,99180.128956,102614.624576,98651.2080,94687.791424,1551.494548
3,1734678000000,97281.38,98233.00,97276.50,97832.53,2593.15424,0.695976,43.467134,97194.663333,97677.726525,97103.732734,99157.577554,101990.119221,98420.3350,94850.550779,1508.994938
4,1734681600000,97832.52,97864.91,95300.00,95473.74,3437.65104,0.681019,33.894874,97072.643333,97338.651675,96431.791319,98978.963690,101487.237696,98094.6220,94702.006304,1584.417442

In [16]:
tech_indic_generator.compute_MFI(wrapper)
wrapper.get_dataframe().head()

,open_time,open,high,low,close,volume,log_return,rsi,swma,ema,tema,kama,bb_upper,bb_middle,bb_lower,atr,mfi
0,1734717600000,97206.60,97308.39,96602.69,96993.58,1216.44814,0.692044,49.319393,96975.726667,96272.236058,96793.841861,97284.482848,98997.307688,96249.1795,93501.051312,1521.413264,54.144663
1,1734721200000,96992.26,97748.00,96840.00,97116.00,1339.74895,0.693785,49.941288,97040.721667,96402.045895,97069.063101,97278.656872,98953.497991,96231.8865,93510.275009,1477.598031,57.060066
2,1734724800000,97116.00,97232.00,96422.06,96451.88,1354.12601,0.689722,46.600529,96979.605000,96409.712681,96991.148595,97252.190052,98876.081460,96192.0695,93508.057540,1429.908172,53.810035
3,1734728400000,96451.88,96647.36,95393.84,96623.29,1604.60540,0.694035,47.575285,96792.105000,96442.570730,96989.320745,97234.384278,98897.386501,96207.2345,93517.082499,1417.309017,49.188151
4,1734732000000,96623.29,97513.00,96451.03,97463.93,978.34197,0.697488,52.185072,96788.378333,96599.702925,97307.087602,97239.207053,98872.032201,96198.8015,93525.570799,1391.927658,54.339158

In [17]:
wrapper.get_dataframe()['open_time'].min()

np.int64(1734717600000)

In [18]:
# Import WindowScope, not just Scope
from src.transformer.Scope import WindowScope

# 1. Define Training Scope (Sliding Window)
training_window_scope = WindowScope(
    wrapper=wrapper, 
    parameters={
        'column': 'open_time',
        'window_size': 100,
        'step_size': 10
    }
)

# 2. Define Testing Scope (if you have a TestingWindowScope class)
# Note: You need to import TestingWindowScope as well if used
# from src.transformer.Scope import TestingWindowScope
# testing_window_scope = TestingWindowScope(training_window_scope=training_window_scope, ...)

# Scope sanity tests
This section runs a few lightweight, assert-based checks for `WindowScope` and `TestingWindowScope` to make sure shifting, bounds checks, and train/test alignment behave as expected.

In [19]:
import math
import pandas as pd
from src.transformer.Scope import WindowScope, TestingWindowScope

df = wrapper.get_dataframe().copy()

# Add a simple row index column for deterministic, row-based window tests
if 'row_id' not in df.columns:
    df['row_id'] = np.arange(len(df), dtype=int)
    wrapper.set_dataframe(df)

assert 'row_id' in wrapper.get_dataframe().columns
assert wrapper.get_dataframe()['row_id'].iloc[0] == 0
assert wrapper.get_dataframe()['row_id'].iloc[-1] == len(wrapper.get_dataframe()) - 1

# --- WindowScope: shift + bounds ---
train = WindowScope(
    wrapper=wrapper,
    parameters={
        'column': 'row_id',
        'start_value': 0,
        'window_size': 100,
        'step_size': 10,
        # keep end_value aligned to the max row_id
        'end_value': len(wrapper.get_dataframe()) - 1,
    },
 )

assert train.current_state() == (0, 100)
assert train.is_in_scope() is True

train.shift()
assert train.start_value == 10
assert train.current_state() == (10, 110)

# number of valid windows given isInScope uses: start + window_size <= end_value
end_value = len(wrapper.get_dataframe()) - 1
expected_windows = math.floor((end_value - train.window_size - 0) / train.step_size) + 1
count = 0
train.reset_state()
while train.is_in_scope():
    count += 1
    train.shift()

assert count == expected_windows, (count, expected_windows)

# --- TestingWindowScope: aligned right after training window ---
train.reset_state()
test = TestingWindowScope(
    training_window_scope=train,
    parameters={
        'testing_window_size': 20,
        'column': 'row_id',
        'end_value': len(wrapper.get_dataframe()) - 1,
    },
 )

assert test.start_value == train.start_value + train.window_size
assert test.window_size == 20
assert test.is_in_scope() is True

# After shifting the training window, the test window should re-sync when test.shift() is called
train.shift()  # train now starts at 10
test.shift()
assert test.start_value == train.start_value + train.window_size
assert test.start_value >= train.start_value + train.window_size
assert test.start_value == 110
assert test.current_state() == (110, 130)

print('Scope tests: OK')

Scope tests: OK

In [20]:
import math
import pandas as pd
from src.transformer.Scope import WindowScope, TestingWindowScope

df = wrapper.get_dataframe().copy()

# --- WindowScope: shift + bounds ---
train = WindowScope(
    wrapper=wrapper,
    parameters={
        'column': 'row_id',
        'start_value': 0,
        'window_size': 250,
        'step_size': 50,
        # keep end_value aligned to the max row_id
        'end_value': len(wrapper.get_dataframe()) - 1,
    },
 )

# --- TestingWindowScope: aligned right after training window ---
train.reset_state()
test = TestingWindowScope(
    training_window_scope=train,
    parameters={
        'testing_window_size': 20,
        'column': 'row_id',
        'end_value': len(wrapper.get_dataframe()) - 1,
    },
 )

while train.is_in_scope():
    print(f'Training Window: {train.current_state()}')
    print(f'Testing Window: {test.current_state()}')
    train.shift()
    test.shift()

Training Window: (0, 250)
Testing Window: (250, 270)
Training Window: (50, 300)
Testing Window: (300, 320)
Training Window: (100, 350)
Testing Window: (350, 370)
Training Window: (150, 400)
Testing Window: (400, 420)
Training Window: (200, 450)
Testing Window: (450, 470)
Training Window: (250, 500)
Testing Window: (500, 520)
Training Window: (300, 550)
Testing Window: (550, 570)
Training Window: (350, 600)
Testing Window: (600, 620)
Training Window: (400, 650)
Testing Window: (650, 670)
Training Window: (450, 700)
Testing Window: (700, 720)
Training Window: (500, 750)
Testing Window: (750, 770)
Training Window: (550, 800)
Testing Window: (800, 820)
Training Window: (600, 850)
Testing Window: (850, 870)
Training Window: (650, 900)
Testing Window: (900, 920)
Training Window: (700, 950)
Testing Window: (950, 970)
Training Window: (750, 1000)
Testing Window: (1000, 1020)
Training Window: (800, 1050)
Testing Window: (1050, 1070)
Training Window: (850, 1100)
Testing Window: (1100, 1120)
Training Window: (900, 1150)
Testing Window: (1150, 1170)
Training Window: (950, 1200)
Testing Window: (1200, 1220)
Training Window: (1000, 1250)
Testing Window: (1250, 1270)
Training Window: (1050, 1300)
Testing Window: (1300, 1320)
Training Window: (1100, 1350)
Testing Window: (1350, 1370)
Training Window: (1150, 1400)
Testing Window: (1400, 1420)
Training Window: (1200, 1450)
Testing Window: (1450, 1470)
Training Window: (1250, 1500)
Testing Window: (1500, 1520)
Training Window: (1300, 1550)
Testing Window: (1550, 1570)
Training Window: (1350, 1600)
Testing Window: (1600, 1620)
Training Window: (1400, 1650)
Testing Window: (1650, 1670)
Training Window: (1450, 1700)
Testing Window: (1700, 1720)
Training Window: (1500, 1750)
Testing Window: (1750, 1770)
Training Window: (1550, 1800)
Testing Window: (1800, 1820)
Training Window: (1600, 1850)
Testing Window: (1850, 1870)
Training Window: (1650, 1900)
Testing Window: (1900, 1920)
Training Window: (1700, 1950)
Testing Window: (1950, 1970)
Training Window: (1750, 2000)
Testing Window: (2000, 2020)
Training Window: (1800, 2050)
Testing Window: (2050, 2070)
Training Window: (1850, 2100)
Testing Window: (2100, 2120)
Training Window: (1900, 2150)
Testing Window: (2150, 2170)
Training Window: (1950, 2200)
Testing Window: (2200, 2220)
Training Window: (2000, 2250)
Testing Window: (2250, 2270)
Training Window: (2050, 2300)
Testing Window: (2300, 2320)
Training Window: (2100, 2350)
Testing Window: (2350, 2370)
Training Window: (2150, 2400)
Testing Window: (2400, 2420)
Training Window: (2200, 2450)
Testing Window: (2450, 2470)
Training Window: (2250, 2500)
Testing Window: (2500, 2520)
Training Window: (2300, 2550)
Testing Window: (2550, 2570)
Training Window: (2350, 2600)
Testing Window: (2600, 2620)
Training Window: (2400, 2650)
Testing Window: (2650, 2670)
Training Window: (2450, 2700)
Testing Window: (2700, 2720)
Training Window: (2500, 2750)
Testing Window: (2750, 2770)
Training Window: (2550, 2800)
Testing Window: (2800, 2820)
Training Window: (2600, 2850)
Testing Window: (2850, 2870)
Training Window: (2650, 2900)
Testing Window: (2900, 2920)
Training Window: (2700, 2950)
Testing Window: (2950, 2970)
Training Window: (2750, 3000)
Testing Window: (3000, 3020)
Training Window: (2800, 3050)
Testing Window: (3050, 3070)
Training Window: (2850, 3100)
Testing Window: (3100, 3120)
Training Window: (2900, 3150)
Testing Window: (3150, 3170)
Training Window: (2950, 3200)
Testing Window: (3200, 3220)
Training Window: (3000, 3250)
Testing Window: (3250, 3270)
Training Window: (3050, 3300)
Testing Window: (3300, 3320)
Training Window: (3100, 3350)
Testing Window: (3350, 3370)
Training Window: (3150, 3400)
Testing Window: (3400, 3420)
Training Window: (3200, 3450)
Testing Window: (3450, 3470)
Training Window: (3250, 3500)
Testing Window: (3500, 3520)
Training Window: (3300, 3550)
Testing Window: (3550, 3570)
Training Window: (3350, 3600)
Testing Window: (3600, 3620)
Training Window: (3400, 3650)
Testing Window: (3650, 3670)
Training Window: (3450, 3700)
Testing Window: (3700, 3720)
Training Window: (3500, 3750)
Testing Window: (3750, 3770)
Training Window: (3550, 3800)
Testing Window: (3800, 3820)
Training Window: (3600, 3850)
Testing Window: (3850, 3870)
Training Window: (3650, 3900)
Testing Window: (3900, 3920)
Training Window: (3700, 3950)
Testing Window: (3950, 3970)
Training Window: (3750, 4000)
Testing Window: (4000, 4020)
Training Window: (3800, 4050)
Testing Window: (4050, 4070)
Training Window: (3850, 4100)
Testing Window: (4100, 4120)
Training Window: (3900, 4150)
Testing Window: (4150, 4170)
Training Window: (3950, 4200)
Testing Window: (4200, 4220)
Training Window: (4000, 4250)
Testing Window: (4250, 4270)
Training Window: (4050, 4300)
Testing Window: (4300, 4320)
Training Window: (4100, 4350)
Testing Window: (4350, 4370)
Training Window: (4150, 4400)
Testing Window: (4400, 4420)
Training Window: (4200, 4450)
Testing Window: (4450, 4470)
Training Window: (4250, 4500)
Testing Window: (4500, 4520)
Training Window: (4300, 4550)
Testing Window: (4550, 4570)
Training Window: (4350, 4600)
Testing Window: (4600, 4620)
Training Window: (4400, 4650)
Testing Window: (4650, 4670)
Training Window: (4450, 4700)
Testing Window: (4700, 4720)
Training Window: (4500, 4750)
Testing Window: (4750, 4770)
Training Window: (4550, 4800)
Testing Window: (4800, 4820)
Training Window: (4600, 4850)
Testing Window: (4850, 4870)
Training Window: (4650, 4900)
Testing Window: (4900, 4920)
Training Window: (4700, 4950)
Testing Window: (4950, 4970)
Training Window: (4750, 5000)
Testing Window: (5000, 5020)
Training Window: (4800, 5050)
Testing Window: (5050, 5070)
Training Window: (4850, 5100)
Testing Window: (5100, 5120)
Training Window: (4900, 5150)
Testing Window: (5150, 5170)
Training Window: (4950, 5200)
Testing Window: (5200, 5220)
Training Window: (5000, 5250)
Testing Window: (5250, 5270)
Training Window: (5050, 5300)
Testing Window: (5300, 5320)
Training Window: (5100, 5350)
Testing Window: (5350, 5370)
Training Window: (5150, 5400)
Testing Window: (5400, 5420)
Training Window: (5200, 5450)
Testing Window: (5450, 5470)
Training Window: (5250, 5500)
Testing Window: (5500, 5520)
Training Window: (5300, 5550)
Testing Window: (5550, 5570)
Training Window: (5350, 5600)
Testing Window: (5600, 5620)
Training Window: (5400, 5650)
Testing Window: (5650, 5670)
Training Window: (5450, 5700)
Testing Window: (5700, 5720)
Training Window: (5500, 5750)
Testing Window: (5750, 5770)
Training Window: (5550, 5800)
Testing Window: (5800, 5820)
Training Window: (5600, 5850)
Testing Window: (5850, 5870)
Training Window: (5650, 5900)
Testing Window: (5900, 5920)
Training Window: (5700, 5950)
Testing Window: (5950, 5970)
Training Window: (5750, 6000)
Testing Window: (6000, 6020)
Training Window: (5800, 6050)
Testing Window: (6050, 6070)
Training Window: (5850, 6100)
Testing Window: (6100, 6120)
Training Window: (5900, 6150)
Testing Window: (6150, 6170)
Training Window: (5950, 6200)
Testing Window: (6200, 6220)
Training Window: (6000, 6250)
Testing Window: (6250, 6270)
Training Window: (6050, 6300)
Testing Window: (6300, 6320)
Training Window: (6100, 6350)
Testing Window: (6350, 6370)
Training Window: (6150, 6400)
Testing Window: (6400, 6420)
Training Window: (6200, 6450)
Testing Window: (6450, 6470)
Training Window: (6250, 6500)
Testing Window: (6500, 6520)
Training Window: (6300, 6550)
Testing Window: (6550, 6570)
Training Window: (6350, 6600)
Testing Window: (6600, 6620)
Training Window: (6400, 6650)
Testing Window: (6650, 6670)
Training Window: (6450, 6700)
Testing Window: (6700, 6720)
Training Window: (6500, 6750)
Testing Window: (6750, 6770)
Training Window: (6550, 6800)
Testing Window: (6800, 6820)
Training Window: (6600, 6850)
Testing Window: (6850, 6870)
Training Window: (6650, 6900)
Testing Window: (6900, 6920)
Training Window: (6700, 6950)
Testing Window: (6950, 6970)
Training Window: (6750, 7000)
Testing Window: (7000, 7020)
Training Window: (6800, 7050)
Testing Window: (7050, 7070)
Training Window: (6850, 7100)
Testing Window: (7100, 7120)
Training Window: (6900, 7150)
Testing Window: (7150, 7170)
Training Window: (6950, 7200)
Testing Window: (7200, 7220)
Training Window: (7000, 7250)
Testing Window: (7250, 7270)
Training Window: (7050, 7300)
Testing Window: (7300, 7320)
Training Window: (7100, 7350)
Testing Window: (7350, 7370)
Training Window: (7150, 7400)
Testing Window: (7400, 7420)
Training Window: (7200, 7450)
Testing Window: (7450, 7470)
Training Window: (7250, 7500)
Testing Window: (7500, 7520)
Training Window: (7300, 7550)
Testing Window: (7550, 7570)
Training Window: (7350, 7600)
Testing Window: (7600, 7620)
Training Window: (7400, 7650)
Testing Window: (7650, 7670)
Training Window: (7450, 7700)
Testing Window: (7700, 7720)
Training Window: (7500, 7750)
Testing Window: (7750, 7770)
Training Window: (7550, 7800)
Testing Window: (7800, 7820)
Training Window: (7600, 7850)
Testing Window: (7850, 7870)
Training Window: (7650, 7900)
Testing Window: (7900, 7920)
Training Window: (7700, 7950)
Testing Window: (7950, 7970)
Training Window: (7750, 8000)
Testing Window: (8000, 8020)
Training Window: (7800, 8050)
Testing Window: (8050, 8070)
Training Window: (7850, 8100)
Testing Window: (8100, 8120)
Training Window: (7900, 8150)
Testing Window: (8150, 8170)
Training Window: (7950, 8200)
Testing Window: (8200, 8220)
Training Window: (8000, 8250)
Testing Window: (8250, 8270)
Training Window: (8050, 8300)
Testing Window: (8300, 8320)
Training Window: (8100, 8350)
Testing Window: (8350, 8370)
Training Window: (8150, 8400)
Testing Window: (8400, 8420)
Training Window: (8200, 8450)
Testing Window: (8450, 8470)
Training Window: (8250, 8500)
Testing Window: (8500, 8520)
Training Window: (8300, 8550)
Testing Window: (8550, 8570)
Training Window: (8350, 8600)
Testing Window: (8600, 8620)
Training Window: (8400, 8650)
Testing Window: (8650, 8670)